<h2>Order #4111<%= @order['id']%></h2>
<h5>purchased on: <%= @order['purchased_on'] %></h5>  
<h2>Customer: <%= @order['user']['email'] %></h2>

<ul>
 <% @order['carted_products'].each do |carted_product| %>
    <li>
      <%= carted_product["product"]["name"] %>
      <%= carted_product["product"]["price"] %>
      <%= carted_product["quantity"] %>
    </li>
  <% end %>
</ul>

<h2>Subtotal: <%= @order['formatted']['subtotal'] %></h2>
<h2>Tax: <%= @order['formatted']['tax'] %></h2>
<h2>Total: <%= @order['formatted']['total'] %></h2>
