<ul>
  <li>
    Sort By
    <ul>
      <li><a href="/client/products?sort_by=price">Price - Low to High</a></li>
      <li><a href="/client/products?sort_by=price&&sort_order=desc">Price - High to Low</a></li>
      <li><a href="/client/products?sort_by=name">Name - A to Z</a>
      </li>
      <li><a href="/client/products?sort_by=name&&sort_order=desc">Name - Z to A</a>
      </li>

      <li> Categories</li>
        <ul>
          <li> <a href="/client/products?category=Multi-player Games">Multi Player Games</li>
          <li> <a href="/client/products?category=Single-player Games">Single Player Games</li>  
        </ul>
    </ul>
  </li>


</ul>

<%= form_tag "/client/products", method: :get do %>
  <input type="text" name="search" placeholder="Product Name">
  <input type="submit" value="GO!">
<% end %>

<% @products.each do |product| %>

  <h2><a href="/client/products/<%= product["id"] %>"><%= product["name"] %></a></h2>

  <% if product["discounted"] %>
    <h3>Discount Item!</h3>
    <% else %>
    <h3>Everyday Value!</h3>
  <% end %> 

  <h3 class="<%= "red" if product["discounted"] %>"> <%= product["formatted"]["price"] %></h3>
  <h4><%= product["description"] %> </h4>
  <img src="<%= product["image_url"] %>"</h4>
  <br>
<% end %>
